.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid rgb(141, 250, 141);
}

.logo-name {
    font-size: 28px;
    font-weight: bold;
}

/* Navbar */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: black;
    font-weight: bold;
}

@media (max-width: 500px) {
    .nav-links {
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(140, 219, 140);;
    display: flex;
    gap: 40px;
    padding: 20px;
    min-width: 300px;
    border: 1px solid green;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* Columns inside dropdown */
.column {
    display: flex;
    flex-direction: column;
}

.column h4 {
    margin-bottom: 10px;
    font-size: 14px;
}

.column a {
    color: black;
    font-size: 13px;
    margin-bottom: 8px;
}

.column a:hover {
    color: gray;
}

.icons span {
    color: rgb(2, 61, 2); 
    margin-left: 20px;
    font-size: 28px;
    cursor: pointer;
}

